{% extends 'base.html' %}

{% block content %}
    <section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-info text-white">
              <h4>
                Update Passenger Info</h4>
            </div>
            <div class="card-body">
                <form action = "{% url 'update' booking.id %}" method = 'POST'>
                 {% csrf_token %}
                  <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" value={{booking.first_name}} class="form-control">
                </div>
                <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" value={{booking.last_name}} class="form-control">
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="text" name="phone" value={{booking.phone}} class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" value={{booking.email}} class="form-control">
                </div>
                <input type="submit" value="Submit" class="btn btn-info btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}